:root{
    --White: hsl(0, 0%, 100%);

    --Stone_100: hsl(30, 54%, 90%);
    --Stone_150: hsl(30, 18%, 87%);
    --Stone_600: hsl(30, 10%, 34%);
    --Stone_900: hsl(24, 5%, 18%);

    --Brown_800: hsl(14, 45%, 36%);

    --Rose_800: hsl(332, 51%, 32%);
    --Rose_50: hsl(330, 100%, 98%);
}

@font-face {
    font-family: 'Young_Sherif';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'outfit_variable';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body{
    font-family:'outfit_variable';
    background-color: var(--Stone_100);
    font-size: 22px;
}

.color_brown{
    color: var(--Brown_800);
}

#main_body{
    width: 880px;
    margin: 30px auto;
    padding: 54px;
    background-color: var(--White);
    border-radius: 28px;

}

.header_image>img{
    border-radius: 15px;
}

.header_image>img{  
    width: 100%;
}

h1, h2{
    font-family: 'Young_Sherif';
}

.recipe_header{
    margin: 32px 0 30px 0;
}

h1{
    font-size: 3.4rem;
    font-weight: 400;
    margin-bottom: 18px;
}

h2{ 
    font-weight:400;
    font-size: 2.4rem;
}

li::marker{
    color: var(--Brown_800);
    font-size: .7em;
}
.instruct_ol >li::marker{
    color: var(--Brown_800);
    font-size: 1em;
    font-weight: bold;
}

.preparation{
    padding:35px 35px;
    background-color: var(--Rose_50);
    border-radius: 15px;
    margin: 40px 0 36px 0;
}

.preparation>h3{
    padding-bottom: 8px;
    color: var(--Rose_800);
    
}

.prep_ul{
    padding-left: 30px;
    
}

.prep_ul>li{
    padding:5px 25px;
    
}

.ingri_ul{
    padding-left: 30px;
    margin: 20px 0 35px 0;
}

.ingri_ul>li{
    padding:5px 25px;
    
}

.instruct{
    margin: 30px 0;
}

.instruct_ol{
    padding: 15px 0 10px 30px;
}

.instruct_ol>li{
    padding:5px 15px;
    
}

.nutri{
    margin: 30px 0;
}

.nutri_content{
     margin-top: 5px;
    padding: 15px 0 10px 0;
}

.Nutri_table{
    margin-top: 5px;
    padding: 15px 0 10px 0;
    width: 100%;
}

table { 
    border-collapse:collapse; 
}

table td {
    border-bottom: 1px solid black;
    padding: 15px 0 15px 40px
}